$colorDark1: #000;
$colorDark2: #333;
$colorDarkBlue: #172948;

$colorLight1: #fff;
$colorLight2: #f3f3f3;

$colorPrimary: #005eff;
$colorDanger: #ff004c;
$colorWarn: #ffae00;
$colorSuccess: rgb(0, 255, 55) f;
$colorSecondary: #646464;
$colorHideText1: #c7c7c7;
$colorHideText2: #949595;
